footer.footer
    .container
        .footer__row
            .footer__row-before
                .footer__nav
                    h3.footer__title Документы

                    ul.footer__nav-list
                        li.footer__nav-item
                            a.footer__nav-link(href="privacy-policy.html") Политика конфиденциальности

                        li.footer__nav-item
                            a.footer__nav-link(href="offer.html") Оферта

                        li.footer__nav-item
                            a.footer__nav-link(href="requisites.html") Реквизиты

                .footer__nav
                    h3.footer__title Покупателям

                    ul.footer__nav-list
                        li.footer__nav-item
                            a.footer__nav-link(href="catalog.html") Каталог

                        li.footer__nav-item
                            a.footer__nav-link(href="shipping-payment.html") Доставка и оплата

                        li.footer__nav-item
                            a.footer__nav-link(href="return.html") Возврат

                        li.footer__nav-item
                            a.footer__nav-link(href="about-us.html") О бренде

                        li.footer__nav-item
                            a.footer__nav-link(href="contacts.html") Контакты

            .social.footer__social.hide-md-up
                a.social__link(href="#inst" title="Go to Instagram") Instagram
                a.social__link(href="#fb" title="Go to Facebook") Facebook

            .footer__subscribe
                h3.footer__title Подпишитесь на новости

                p.footer__desc Узнавайте первыми о скидках, предложениях и мероприятиях

                form.footer__subscribe-form
                    .input 
                        input.input__elem(type="text" name="footer-subscribe" placeholder="Введите вашу почту")

                    button.btn.btn--reset.btn--send(type="button" aria-label="Send form")

        .footer__panel
            p.footer__copy Made by <a href="#sick">sick</a>

            p.footer__copy Copyright © 2022 eterlique
                
            .social.footer__social.hide-md-down
                a.social__link(href="#inst" title="Go to Instagram") Instagram
                a.social__link(href="#fb" title="Go to Facebook") Facebook

    
            
