.modal#table-sizes
    .modal__item
        .modal__item-header
            .modal__item-header-title Таблица размеров
            button.modal__close.btn.btn--reset.btn--cross(data-close-modal)

        .modal__item-body
            .table-sizes
                table
                    thead
                        tr
                            td US
                            td RUS
                            td Рост
                            td Объём <br> груди
                            td Объём <br> бедер

                    tbody
                        tr
                            td 2XS
                            td 40 - 42
                            td 
                            td 
                            td

                        tr
                            td XS
                            td 42 - 44
                            td 
                            td 
                            td

                        tr
                            td S
                            td 44 - 46
                            td 159 - 171
                            td 88 - 96
                            td 48

                        tr
                            td M
                            td 46 - 48
                            td 172 - 177
                            td 96 - 100
                            td 50

                        tr
                            td L
                            td 48 - 50
                            td 178 - 183
                            td 100 - 104
                            td 52

                        tr
                            td XL
                            td 50 - 52
                            td 184 - 189
                            td 104 - 108
                            td 54

                        tr
                            td 2XL
                            td 52 - 54
                            td 190 - 195
                            td 108 - 112
                            td 56

                        tr
                            td 3XL
                            td 54 - 56
                            td 196 - 201
                            td 112 - 116
                            td 58

                        tr
                            td 4XL
                            td 56 - 58
                            td 202 - 207
                            td 116 - 122
                            td 60

                        tr
                            td 5XL
                            td 58 - 60
                            td 208 - 212
                            td 122 - 126
                            td 62

.modal#promo
    .modal__square
        button.modal__close.btn.btn--reset.btn--cross(data-close-modal)

        .modal__square-body
            .modal__square-title Будьте первыми в курсе закрытых распродаж, эксклюзивных акций и поступлений новинок

            img.modal__square-img(src="img/content/promo/promo-square-img.webp" width="220" height="294" alt="Promo")

            .modal__square-subscribe
                form.modal__square-subscribe-form(action="/" method="/")
                    input.input__elem(type="text" placeholder="Введите вашу почту")
                    button.btn.btn--reset.btn--send(type="button" aria-label="Send form")

                .form__agree Оставляя свою почту, я подтверждаю согласие с <a href="#">политикой конфиденциальности.</a>

        .modal__square-bg







        

            


