extends layouts/layout-404.pug

block title
    title 404 | Eterlique

block content
    .error-404
        .error-404__main
            .error-404__row
                .error-404__desc 4

                .error-404__desc 0

                .error-404__desc 4

                //.error-404__gallery
                    .error-404__gallery-item
                        .error-404__gallery-item-img--wrap
                            img.error-404__gallery-item-img(src="img/content/404/item_1.webp" width="284" height="424" alt="Item 1")
                
                    .error-404__gallery-item
                        .error-404__gallery-item-img--wrap
                            img.error-404__gallery-item-img(src="img/content/404/item_2.webp" width="284" height="424" alt="Item 2")
                
                    .error-404__gallery-item
                        .error-404__gallery-item-img--wrap
                            img.error-404__gallery-item-img(src="img/content/404/item_3.webp" width="284" height="424" alt="Item 3")
                
                    .error-404__gallery-item
                        .error-404__gallery-item-img--wrap
                            img.error-404__gallery-item-img(src="img/content/404/item_4.webp" width="284" height="424" alt="Item 4")

        .error-404__warning Такой страницы не существует.Вы можете вернуться на <a href="main.html">главную страницу</a> и использовать навигацию.

        
        



                
                

        