extends layouts/layout.pug

block title
    title Модальные окна | Eterlique

block content
    .main-block
        .btns-spacer
            button.btn.btn--border(aria-label="Open modal" data-modal="table-sizes") Таблица размеров
            button.btn.btn--border(aria-label="Open modal" data-modal="promo") Promo

        



                
                

        